In [1]:
import pandas as pd

In [22]:
df = pd.read_csv('https://github.com/Alois-Software/data-modeling/blob/word-embedding/social_media_parsed.csv', delimiter="\n\n")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [23]:
df

                                        <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-li...
1                                                <head>
2                                <meta charset="utf-8">
3     <link rel="dns-prefetch" href="https://github....
4     <link rel="dns-prefetch" href="https://avatars...
...                                                 ...
4650                                  </clipboard-copy>
4651                                             </div>
4652                                        </template>
4653                                            </body>
4654                                            </html>

[4655 rows x 1 columns]